.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.upper {
  background-color: #ffffff;
  color: #000;
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: black;
  font-size: 2em;
}

.logoContainer {
  width: 300px;
}

.logoContainer img {
  width: 100%;
}

.content {
  text-align: center;
}

.content p {
  color: black;
}

.lower {
  background-color: #000;
  color: #ffffff;
  flex: 2;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: white;
  color: black;
  padding: 10px;
  flex: 0 0 1/3;
  font-size: 1.2em;
  font-weight: bold;
}

.navbar-name a {
  color: black;
  padding: 10px;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}

.navbar-name a:hover {
  border-bottom: 2px solid black;
}


