body {
  background-image: url(../src/Coffee.jpg);
  background-size: cover;
  background-position: center center;
  width: 100%;
}

body>div {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.395);
}

* {
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  color: white;
}

.search-bar input[type="text"] {
  padding: 8px;
  width: 200px;
  border-radius: 10px;
  height: 35px;
  border: 1px solid #ccc;
  background-color: white;
  color: black;
}

.TOSHOP {
  padding: 8px;
  width: 200px;
  border-radius: 10px;
  background-color: #37af15;
  text-align: center;
  cursor: pointer;
  height: 35px;
  display: flex;
  align-items: center;
}

.TOSHOP a {
  width: 100%;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 5%;
  background: rgb(43, 129, 40);
  background: linear-gradient(156deg, rgba(43, 129, 40, 1) 0%, rgba(255, 187, 0, 1) 100%);
  backdrop-filter: blur(10px);
}

header .navbar ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

header .navbar ul li {
  border-radius: 10px;
  text-transform: uppercase;
  padding: 5px 10px;
}

header .navbar ul li a {
  position: relative;
}

header .navbar ul li a::before {
  content: '';
  position: absolute;
  width: 140%;
  height: 120%;
  border-radius: 0px;
  background-color: #e46d0ce6;
  z-index: -1;
  bottom: -10%;
  left: -20%;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

header .navbar ul li a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

section:first {
  min-height: calc(100vh - 70px);
}

section.Landing {
  justify-content: center;
  align-items: center;
}

section.Landing .Home-Block {
  transform: translateY(-50px);
  background: rgb(43, 129, 40);
  background: linear-gradient(156deg, #2b8128 0%, #ffbb00 100%);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

section.Landing .Home-Block p {
  margin-bottom: 20px;
}

section.Landing .Home-Block a {
  color: #2b8128;
  background-color: white;
  padding: 5px;
  width: 100%;
  border-radius: 5px;
}