/* ROOT */
* {
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: 500;
    color: #1C3033;
    transition: all ease 0.5s;
}

main {
    padding-top: 67px;
}

/* main.bg {
background-image: ;    
} */

section {
    padding: 20px 5%;
}

/* HEADER SECTION START */
* {
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: 500;
    color: #1C3033;
    transition: all ease 0.5s;
  }
  
  .search-bar input[type="text"] {
    padding: 8px;
    width: 200px;
    border-radius: 10px;
    height: 35px;
    border: 1px solid #ccc;
    background-color: white;
    color: black;
  }
  
  .TOSHOP {
    padding: 8px;
    width: 200px;
    border-radius: 10px;
    background-color: #90a774;
    text-align: center;
    cursor: pointer;
    height: 35px;
    display: flex;
    justify-content: center;
    color: white;
  }

  .TOSHOP:hover {
    background-color: #5C921C;
    color: white;
    transform: scale(1.1);
  }
  
  .TOSHOP a {
    width: 100%;
    text-align: center;
    font-weight: 500;
    color: white;
  }
  
  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 5%;
    background: #E1D9D0;
    backdrop-filter: blur(10px);
    position: fixed;
    width: 100%;
    z-index: 1;
  }
  
  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 5%;
    backdrop-filter: blur(10px);
  }
  
  header .navbar ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  
  header .navbar ul li {
    border-radius: 10px;
    text-transform: uppercase;
    padding: 5px 10px;
  }
  
  header .navbar ul li a {
    position: relative;
  }
  header .navbar ul li a:hover {
    color: white;
  }
  
  header .navbar ul li a::before {
    content: "";
    position: absolute;
    width: 140%;
    height: 120%;
    border-radius: 0px;
    background-color: #5C921C;
    z-index: -1;
    bottom: -10%;
    left: -20%;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }
  
  header .navbar ul li a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }

  .Nav_End {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
  }

  .Nav_End a.Button {
    display: block;
    height: 100%;
    width: 50px;
    text-align: center;
    padding: 5px 0px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #90a774;
  }

  .Nav_End a.Button:hover {
    background-color: #5C921C;
  }

  .Nav_End img {
    height: 20px;
  }
/* ========================= */
/* FOOTER */
footer.footer {
    height: 50px;
    background-color: #E1D9D0;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer.footer h1 {
    font-size: 1rem;
}

/* FULL WIDTH IMAGE */
.image_full {
    width: 100%;
    padding: 0px !important;
    height: 250px;
    position: relative;
}

.image_full img {
    width: 100%;
    height: inherit;
    object-fit: cover;
}

.image_full .middle_image {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%);
    border-radius: 100%;
}


/* TEXT BOX CLASSES */
.textbox_start,
.textbox_center,
.textbox_end {
    display: flex;
    flex-direction: column;
}

.textbox_start h1,
.textbox_center h1,
.textbox_end h1 {
    font-size: 2rem;
    margin-bottom: 10px;
    border-bottom: 1px solid #90a774;
}

.textbox_start p,
.textbox_center p,
.textbox_end p {
    font-size: 1.2rem;
    width: 50%;
}

.textbox_start .TOSHOP,
.textbox_center .TOSHOP,
.textbox_end .TOSHOP {
    margin-top: 20px;
}

.textbox_start {
    align-items: start;
    text-align: start;
}

.textbox_center {
    align-items: center;
    text-align: center;
}

.textbox_end {
    align-items: end;
    text-align: end;
}

/* TEXT WITH IMAGE */
.textbox_image_start,
.textbox_image_end {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}

.textbox_image_start .image,
.textbox_image_end .image {
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
}

.textbox_image_start .image img,
.textbox_image_end .image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.textbox_image_start .textbox,
.textbox_image_end .textbox {
    display: flex;
    flex-direction: column;
}

.textbox_image_start .textbox h1,
.textbox_image_end .textbox h1 {
    font-size: 2rem;
}

.textbox_image_start .textbox p,
.textbox_image_end .textbox p {
    font-size: 1.2rem;
}

.textbox_image_start .textbox {
    align-items: start;
    text-align: start;
}

.textbox_image_end .textbox {
    align-items: end;
    text-align: end;
}

/* FOUR SECTOR BOXES */
.four_textboxes {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.four_textboxes .textbox {
    width: calc(25% - 50px);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.four_textboxes .textbox img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.four_textboxes .textbox h1 {
  font-size: 1.4rem;
  border-bottom: 1px solid #90a774;
}

/* BLOG CLASSES */

.blog_double {
  display: flex;
  gap: 50px;
  flex-direction: row;
}

.blog_double .left {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.blog_double .right {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.blog_card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.text_box {
  display: flex;
  flex-direction: column;
}

.blog_double .left img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.blog_double img:hover {
  transform: translateY(-10px);
}

/* SHOP CLASSES */
.Shop_filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 50px;
  background-color: #90a774;
}

.Shop_filter .filter div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
}

.Shop_filter .filter div select {
  border: none;
  padding: 10px;
  border-radius: 10px;
}

.Shop_filter img {
  height: 20px;
  object-fit: cover;
}

.Shop_container {
  display: flex;
}

.Shop_container .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}

.Shop_container .container .product {
  width: 300px;
  padding: 15px;
  border-radius: 10px;
  background-color: #E1D9D0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Shop_container .container .product img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.Shop_container .container .product button {
  border-radius: 10px;
  width: 100%;
  padding: 10px;
  border: none;
  font-weight: 500;
  text-transform: uppercase;
}

.Shop_container .container .product button:hover {
  background-color: #90a774;
}

/* CHECKOUT CLASSES */
.Checkout_container ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.Checkout_container ul li > div {
  display: flex;
  flex-direction: row;
  padding: 15px;
  background-color: #E1D9D0;
  width: fit-content;
  border-radius: 10px;
  position: relative;
  gap: 15px;
}

.Checkout_container ul li div img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.Checkout_container ul li div > div {
  display: flex;
  width: 200px;
  flex-direction: column;
  padding: 0;
}

.Checkout_container ul li div > div button {
  width: fit-content;
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.Checkout_container ul li div > div button:hover {
  background-color: rgb(200, 54, 54);
  color: white;
}

.Checkout_Button div {
  background-color: #E1D9D0;
  padding: 15px;
  border-radius: 10px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Checkout_Button button {
   cursor: pointer;
   border: none;
   padding: 10px 30px;
   border-radius: 10px;
}

.Checkout_Button button:hover {
  background-color: #5C921C;
  color: white;
}


/* Checkout Final */
.checkout_final > div {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.checkout_final > div > * {
  background-color: #E1D9D0;
  padding: 15px;
  border-radius: 10px;
}

.checkout_final button {
  border-radius: 10px;
  border: none;
  padding: 10px;
  width: 100px;
  margin-top: 10px;
  cursor: pointer;
}

.checkout_final button:hover {
  background-color: #5C921C;
  color: white;
}

.checkout_final input,
.checkout_final select {
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
}

/* Classes ContactFrom */

.Formular {
  position: relative;
  height: 600px;
}

.Formular .LeftFOrm {
  position: absolute;
  top: 50px;
  left: 30%;
  background-color: #90a774;
  padding: 20px;
  border-radius: 10px;
  transform: translateX(-50%);
  z-index: 2;
  width: 350px;
}

.Formular .LeftFOrm * {
  color: white;
}
.Formular .LeftFOrm > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}

.Formular .LeftFOrm > div > div {
  display: flex;
  flex-direction: column;
}

.Formular .LeftFOrm > div > div a:hover {
  color: black;
  text-decoration: underline;
}

.Formular .LeftFOrm h1 {
  font-size: 1.5rem;
}

.Formular .FormRight {
  background-color: #E1D9D0;
  position: absolute;
  top: 100px;
  right: 15%;
  padding: 20px;
  padding-left: 150px;
  width: 800px;
  z-index: 1;
  height: 400px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Formular .FormRight form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact_input {
  display: flex;
  flex-direction: column;
}

.contact_input input {
  border-radius: 10px;
  border: none;
  padding: 10px;
  z-index: 1;
  font-size: 1.2rem;
}

.contact_input input[type="submit"] {
  cursor: pointer;
}

.contact_input input[type="submit"]:hover {
  background-color: #90a774;
  color: white;
}